*.rs.bk
.vscode
node_modules
/libvip/target
/libvip/data/*
!/libvip/data/main.jl
!/libvip/data/parse_tg_data.jl
!/libvip/data/parse_encoding.jl
!/libvip/data/readme.txt
!/libvip/data/raw/unicode.txt
vscode-extension/out
*.vsix
package-lock.json
Cargo.lock
